.html{
    line-height: 1.8;
}

.body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* ここまでリセット */



/* モンスター紹介 */
.item{
    display: flex;
    justify-content: center;
    }
dl{
    width: 80%;
    margin: 5em 3em;
    padding: 2em;
    border-radius: 2em;
}

dl img{
    width: 50%;
}

dt{
    padding: 0 1em;
    margin: 3em 0 0.5em 0;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    border-bottom: 1px #000 dashed;
    }
    
dd{
    line-height: 2;
    text-align: center;
}

dd:last-child{
    line-height: 2;
    text-align-last: start;
}



/* 戻るボタン */

.modoru{
    display: flex;
    justify-content: center;
}
.modoru a { 
    /* display:block; */
    background-color: #33ff00;
    color: #0f460a;
    border-radius: 1.5em;
    margin: 3em;
    padding: 0.5em 8em;
    text-decoration: none;

    }
    
     /* 以下マウスを載せたときのスタイル */
    .modoru a:hover { 
        background-color: #5f0a0a;
        color:#ce4e4e; }